body {
  background: rgb(3, 29, 21);
  background: linear-gradient(
    90deg,
    rgba(3, 29, 21, 1) 0%,
    rgba(0, 98, 65, 1) 50%,
    rgba(0, 99, 92, 1) 100%
  );
  color: white;
}

h1 {
  font-size: 7rem;
}

.hero-header {
  background: linear-gradient(rgba(15, 23, 43, 0.9), rgba(15, 23, 43, 0.9)),
    url(/assets/stock/header2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-header .row {
  height: 100%;
}

.hero-header .col-lg-8 {
  padding: 0;
}

.hero-header .col-lg-4 img {
  width: 100%;
  position: relative;
  left: 50%;
}

.btn-primary {
  background-color: #ffc30b;
  border: none;
  color: black;
}
