body {
  background: rgb(3, 29, 21);
  background: linear-gradient(
    90deg,
    rgba(3, 29, 21, 1) 0%,
    rgba(0, 98, 65, 1) 50%,
    rgba(0, 99, 92, 1) 100%
  );
  color: white;
}

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");

h1,
h2,
h3 {
  font-family: "IBM Plex Mono", monospace;
}

@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap");

p {
  font-family: "Tilt Neon", sans-serif;
  line-height: 25px;
}

.texto-hero {
  font-size: 7rem;
  font-weight: 600;
  color: #ffffff; /* Color personalizado */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); /* Sombra del texto */
  letter-spacing: 2px; /* Espaciado entre letras */
  line-height: 1.2; /* Altura de línea para mejorar la legibilidad */
}

.hero-header {
  background: linear-gradient(rgba(15, 23, 43, 0.5), rgba(15, 23, 43, 0.9)),
    url(/assets/stock/header2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-primary {
  background-color: #ffc30b;
  border: none;
  color: black;
}

.navegacion {
  background: rgb(3, 29, 21);
  background: linear-gradient(
    90deg,
    rgb(0, 64, 59) 100%,
    rgb(12, 38, 29) 50%,
    rgb(0, 64, 59) 100%
  );
  color: white;
}

.footer-comun {
  background: rgb(3, 29, 21);
  background: linear-gradient(
    90deg,
    rgb(2, 26, 24) 100%,
    rgb(12, 38, 29) 50%,
    rgb(0, 64, 59) 100%
  );
  color: white;
}

.style_featured {
  padding: 20px 0;
  text-align: center;
}
.style_featured > div > div {
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: 0.5s;
}
.style_featured > div:hover > div {
  margin-top: +19px;
  border: 1px solid rgb(164, 250, 153);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 9px 9px 9px;
  background: rgba(153, 200, 250, 0.1);
  transition: 1s;
}

.style_menu_item > div > div{
  margin-top: +19px;
  border: 1px solid rgb(194, 255, 183);
  background: rgba(153, 200, 250, 0.1);
  border-radius: 10px;
}

.container-menu .price-circle {
	width: 64px;
	height: 64px;
	line-height: 64px;
	border-radius: 50%;
	color: #fff;
	background-color: #054732;
	vertical-align: middle;
	display: inline-block;
}